Repository se7enstar25/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)

check-toc:
  entry: python scripts/check_toc_is_complete.py
  language: python
  name: Check all notebooks appear in table of contents

check-no-tests-are-ignored:
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Refactoring the ChiSquared distribution (#4695)
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Refactor DirichletMultinomial for V4
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Fix *IncSubtensor* support for joint_logprob
  aeppl/joint_logprob.py
  aeppl/opt.py
  tests/test_joint_logprob.py
Due: no-relative-imports

Add RandomVariable pretty and LaTeX printing
  aeppl/__init__.py
  aeppl/printing.py
  tests/test_printing.py
Due: no-relative-imports

Add a README
  README.rst
Due: none

Add an installation section to README, and minor updates
  README.rst
Due: none

Move from nbsphinx to myst-nb (#4759)
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  docs/source/conf.py
  fast_build_docs.sh
  pymc3/distributions/multivariate.py
  pymc3/distributions/timeseries.py
  pymc3/math.py
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda, no-relative-imports

Move content of distributions.special into distributions.dist_math (#4760)
  .github/workflows/pytest.yml
  pymc3/distributions/continuous.py
  pymc3/distributions/dist_math.py
  pymc3/distributions/multivariate.py
  pymc3/distributions/special.py
  pymc3/tests/test_dist_math.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_ode.py
  pymc3/tests/test_special_functions.py
Due: check-no-tests-are-ignored, no-relative-imports

Change aesara to aeppl in README
  README.rst
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
  docs/source/sphinxext/gallery_generator.py
  pymc3/aesaraf.py
  pymc3/backends/base.py
  pymc3/distributions/bart.py
  pymc3/distributions/mixture.py
  pymc3/distributions/shape_utils.py
  pymc3/distributions/timeseries.py
  pymc3/exceptions.py
  pymc3/gp/cov.py
  pymc3/gp/util.py
  pymc3/model_graph.py
  pymc3/ode/ode.py
  pymc3/sampling.py
  pymc3/sampling_jax.py
  pymc3/step_methods/hmc/quadpotential.py
  pymc3/step_methods/mlda.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_mixture.py
  pymc3/tests/test_modelcontext.py
  pymc3/tests/test_shape_handling.py
  pymc3/tests/test_variational_inference.py
  pymc3/variational/inference.py
Due: no-relative-imports

Refactored continuous distributions to v4 (AsymmetricLaplace, HalfStudentT, ExGaussian, Interpolated) (#4746)
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Make MvStudentT distribution v4 compatible (#4731)
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Reenable more tests (#4770)
  .github/workflows/pytest.yml
  pymc3/tests/test_missing.py
  pymc3/tests/test_starting.py
Due: check-no-tests-are-ignored, no-relative-imports

Implement a rewrite for log-probability transforms
  aeppl/joint_logprob.py
  aeppl/logprob.py
  aeppl/opt.py
  aeppl/transforms.py
  aeppl/utils.py
  requirements.txt
  tests/test_joint_logprob.py
  tests/test_transforms.py
Due: no-relative-imports

Bring back `SMC` and allow `prior_predictive_sampling` to return transformed values (#4769)
  .github/workflows/pytest.yml
  RELEASE-NOTES.md
  pymc3/sampling.py
  pymc3/smc/smc.py
  pymc3/tests/test_sampling.py
  pymc3/tests/test_smc.py
Due: check-no-tests-are-ignored, no-relative-imports

Update conda env files (#4757)
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda

Create dedicated environment YML for Windows
  .github/workflows/windows.yml
  conda-envs/windows-environment-dev-py38.yml
  scripts/generate_pip_deps_from_conda.py
Due: conda-env-sort, pip-from-conda, no-relative-imports

Rename logprob argument and set a name for the logprob result
  aeppl/logprob.py
Due: no-relative-imports

Propagate names during logprob operations
  aeppl/joint_logprob.py
  aeppl/logprob.py
Due: no-relative-imports

Switch to pydata sphinx theme (#4761)
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  docs/source/_templates/layout.html
  docs/source/_templates/navbar-version.html
  docs/source/conf.py
  docs/source/index.rst
  docs/source/learn.md
  docs/source/learn.rst
  docs/source/sphinxext/gallery_generator.py
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda, no-relative-imports

Reenable Windows test workflow
  .github/workflows/windows.yml
Due: none

Cancel previous workflow runs on a PR branch after updates
  .github/workflows/pypi.yml
  .github/workflows/test.yml
Due: none

Add Chisquare and Wald log-probabilities
  aeppl/logprob.py
  tests/test_logprob.py
Due: no-relative-imports

Prevent blank lines from being printed in LaTeX output
  aeppl/printing.py
  tests/test_printing.py
Due: no-relative-imports

Include a log-probability computation in the README
  README.rst
Due: none

Remove .coveragerc and add omit to coverage:report in setup.cfg
  .coveragerc
  .github/workflows/test.yml
  setup.cfg
Due: none

Remove unnecessary comment
  aeppl/logprob.py
Due: no-relative-imports

Finish the logprob implementation for CategoricalRV
  aeppl/logprob.py
  setup.py
  tests/test_logprob.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

config issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Remove extra backtick in README
  README.rst
Due: none

Don't unnecessarily clone inputs in joint_logprob
  aeppl/joint_logprob.py
  tests/test_joint_logprob.py
Due: no-relative-imports

Implement a general mixture log-probability rewrite
  aeppl/__init__.py
  aeppl/mixture.py
  aeppl/opt.py
  setup.py
  tests/test_mixture.py
Due: no-relative-imports

Refactor test subsets in CI workflows (#4788)
  .github/workflows/pytest.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  scripts/check_all_tests_are_covered.py
Due: check-no-tests-are-ignored, no-relative-imports

Porting kroneckernormal distribution to v4 (#4774)
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_starting.py
Due: no-relative-imports

Path conditions:
  watermark: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-toc: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/examples/data)/
  conda-env-sort: any of: ^conda-envs/ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/examples/data)/)
  pip-from-conda: any of: ^conda-envs/, but not: ^(docs/logos|pymc3/examples/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/examples/data)/
