Repository se7enstar25/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)

check-toc:
  entry: python scripts/check_toc_is_complete.py
  language: python
  name: Check all notebooks appear in table of contents

check-no-tests-are-ignored:
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Test predictive sampling with deterministic of shared (#4813)
  pymc3/tests/test_distributions.py
  pymc3/tests/test_sampling.py
Due: no-relative-imports

Refactor ModelGraph for v4
  .github/workflows/pytest.yml
  pymc3/model_graph.py
  pymc3/tests/test_model_graph.py
Due: check-no-tests-are-ignored, no-relative-imports

Add regression test for #4043
  pymc3/tests/test_model_graph.py
Due: no-relative-imports

Include dims in plate labels if available
  pymc3/model_graph.py
  pymc3/tests/test_model_graph.py
Due: no-relative-imports

Include data generation in docstring example (#4713)
  docs/source/index.rst
Due: none

Add docstrings to functions in gp/utils.py (#4811)
  pymc3/gp/util.py
Due: no-relative-imports

Replace RVSinker with an EquilibriumDB
  aeppl/joint_logprob.py
  aeppl/opt.py
Due: no-relative-imports

Combine coverage across test matrix
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

SMC return inferencedata and perform convergence checks (#4814)
  pymc3/backends/arviz.py
  pymc3/smc/sample_smc.py
  pymc3/tests/test_smc.py
Due: no-relative-imports

Modify pytest section to become effective
  pyproject.toml
Due: none

Added test_multinomial_zero_probs test
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Remove XFAIL marks on tests that are XPASS
  pymc3/tests/backend_fixtures.py
  pymc3/tests/test_data_container.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_examples.py
  pymc3/tests/test_model_func.py
  pymc3/tests/test_ode.py
  pymc3/tests/test_posteriors.py
  pymc3/tests/test_quadpotential.py
  pymc3/tests/test_sampling.py
  pymc3/tests/test_step.py
  pymc3/tests/test_transforms.py
Due: no-relative-imports

Allow RandomVariables to be skipped in total_logprob with tag.ignore_logprob
  aeppl/joint_logprob.py
  tests/test_joint_logprob.py
Due: no-relative-imports

Add V4 distribution implementation developer guide (#4783)
  docs/source/developer_guide_implementing_distribution.md
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Run test_distributions in its own job because it's so slow
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Reenable timeseries tests
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Reenable test_parallel_sampling and test_profile
  .github/workflows/pytest.yml
  pymc3/tests/test_parallel_sampling.py
  pymc3/tests/test_profile.py
Due: check-no-tests-are-ignored, no-relative-imports

Fix flaky ODE test by setting an initval (#4827)
  pymc3/tests/test_ode.py
Due: no-relative-imports

Reenable test_tuning
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Skip numerically unstable tests instead of marking them as XFAIL
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Redistribute slow tests from the longest-running job
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Add friendly logp and logcdf methods
  docs/source/developer_guide_implementing_distribution.md
  pymc3/distributions/__init__.py
  pymc3/distributions/discrete.py
  pymc3/distributions/logprob.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_logprob.py
Due: no-relative-imports

Fix float32 rtol in `test_mle_jacobian`
  pymc3/tests/test_tuning.py
Due: no-relative-imports

Refactored Wishart and MatrixNormal distribution
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Add progressbar to `sample_smc` and deprecate `parallel` (#4826)
  pymc3/smc/sample_smc.py
  pymc3/tests/test_smc.py
Due: no-relative-imports

Port Truncated Normal and Wald Distributions to V4 (#4711)
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_model.py
Due: no-relative-imports

Tweak codecov settings
  .coveragerc
  codecov.yml
Due: none

Remove obsolete tests
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Create Ordered Multinomial distribution (#4773)
  RELEASE-NOTES.md
  docs/source/api/distributions/multivariate.rst
  pymc3/distributions/__init__.py
  pymc3/distributions/discrete.py
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Sum observations in `model.datalogpt` Fixes #4803 and #4804
  pymc3/model.py
  pymc3/tests/test_model.py
Due: no-relative-imports

Updates for Aesara Solve changes
  pymc3/distributions/dist_math.py
  pymc3/distributions/multivariate.py
  pymc3/gp/util.py
Due: no-relative-imports

Add PyMC Labs as supporters and for professional support. Remove obsolete supporters ODSC and Quantopian.
  README.rst
  docs/odsc_logo.png
  docs/pymc-labs-logo.png
  docs/quantopianlogo.jpg
Due: none

Add get_constant_value function
  aeppl/utils.py
Due: no-relative-imports

Reenable trust_input in SMC
  pymc3/smc/smc.py
Due: no-relative-imports

Remove custom `logaddexp`, `logsumexp`, and `log1pexp` functions and deprecate `log1mexp` in favor of Aesara implementations.
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/math.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_math.py
Due: no-relative-imports

Seed `test_tuning::test_mle_jacobian` test
  pymc3/tests/models.py
  pymc3/tests/test_tuning.py
Due: no-relative-imports

switch from pickle/dill to cloudpickle (#4858)
  RELEASE-NOTES.md
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  pymc3/distributions/distribution.py
  pymc3/parallel_sampling.py
  pymc3/sampling.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_minibatches.py
  pymc3/tests/test_model.py
  pymc3/tests/test_parallel_sampling.py
  pymc3/tests/test_pickling.py
  pymc3/tests/test_variational_inference.py
  pymc3/util.py
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-from-conda, no-relative-imports

Path conditions:
  watermark: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-toc: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/examples/data)/
  conda-env-sort: any of: ^conda-envs/ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/examples/data)/)
  pip-from-conda: any of: ^conda-envs/, but not: ^(docs/logos|pymc3/examples/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/examples/data)/
